body{
    background-color: yellow;
}
.nav{
    background-color: forestgreen;
}
.nav p {
    color: darkred;
    font-size: xx-large;
    position: absolute;
}
#navigation input{
    position: absolute;
    margin-left: 400px;
}